body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: black;
  /* background-color: black; */
}
/* Container styles */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Interaction space styles */
.interaction-space {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 10px; */
  border-right: 1px solid black;
  color: white;
}

/* Grid styles */
.grid {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns, 5), 1fr);
  grid-template-rows: repeat(var(--grid-rows, 5), 1fr);
  gap: 5px;
  /* padding: 10px; */
  background-image: url("Images/board.jpg");
  transition: grid-template-columns 0.5s, grid-template-rows 0.5s;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  border: 1px solid black;
  box-sizing: border-box;
}

/* Colours for certain tiles */

.dirt-brown {
  background-image: url("Images/tile1.jpg");
  background-size: cover;
  filter: brightness(50%);
}

.gravel-grey {
  background-image: url("Images/start.png");
  background-size: cover;
}

.finishImage {
  background-image: url("Images/finish.png");
  background-size: contain;
}

/* end of colours */

/* Roll button styles */
#rollButton {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 10px; /* Add some margin around */
  cursor: pointer;
  border-radius: 10px;
}

#rollButton:hover {
  background-color: darkblue;
}
.highlight {
  background-image: url("Images/tile1.jpg");
  background-size: cover;
  z-index: 1;
}

.highlight-border {
  border: 2px solid yellow;
}
/* End of roll and effects */

/* Stats section styles */
.stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure even spacing */
  align-items: center; /* Center items horizontally */
  padding: 10px;
  color: white;
  background-image: url("Images/tileno.jpg");
}

/* start of Di(c)e */
.die {
  width: 80px; /* Set the width */
  height: 80px; /* Set the height */
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.die-dot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  align-items: center;
}

.dot {
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 50%;
  justify-self: center;
}

.filled {
  background-color: black;
}
/* End of Di(c)e */

/* Restart button styles */
#restartButton {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 10px; /* Add some margin around */
  cursor: pointer;
  border-radius: 10px;
}

#restartButton:hover {
  background-color: darkgreen;
}
/* Player stats section */
#playerStats {
  text-align: center;
}

#playerStats p {
  margin: 5px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#healthPotionImage {
  width: 30px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add some right margin for spacing */
}

#healthPotions {
  vertical-align: middle; /* Align with image */
}

/* Use Potion Button Styles */
#usePotionButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Add some top margin for spacing */
  margin-left: auto; /* Center the button horizontally */
  margin-right: auto; /* Center the button horizontally */
  display: block; /* Ensure it behaves as a block element */
}

#usePotionButton:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

/* Modal overlay styles */

.overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure it's below modal but above other content */
}

/* Full screen overlay styles */
#overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

#modalOverlay {
  flex: 3;
  display: hidden;
  justify-content: center;
  align-items: center;
  background-image: url("Images/modalBG.jpg");
  background-size: cover;
  border-bottom: 1px solid black;
  position: relative;
}

/* Modal content styles */
.modal {
  position: relative;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-image {
  max-width: 100%;
  height: auto;
  display: none; /* Hide images initially */
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button {
  display: flex; /* Ensure buttons are displayed in a flex container */
  justify-content: center; /* Center buttons horizontally */
  margin-top: 10px; /* Add some top margin for spacing */
}
.button.hide {
  display: none;
}

#winLooseImage {
  width: 200px;
  height: 200px;
  background-size: cover;
  /* background-position: center; */
  margin: 10px auto;
  justify-items: center;
}
.winImage {
  background-image: url("Images/win1.png");
}
.looseImage {
  background-image: url("Images/loose.jpg");
}
#deadImage {
  width: 200px;
  height: 200px;
  background-size: cover;
  /* background-position: center; */
  margin: 10px auto;
}
/* Enemy Images */
.strongEnemy-1 {
  background-image: url("Images/strongmonster1.jpg");
}
.weakEnemy-1 {
  background-image: url("Images/weak.jpg");
}
/* Enemy Image Container */
#enemyImage {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background-size: cover;
  margin: 10px auto;
}
/* End of enemy images*/
#deadImage {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background-size: cover;
  margin: 10px auto;
}
.deadImage {
  background-image: url("Images/Died.jpg");
}
#trapImage {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background-size: cover;
  margin: 10px auto;
}
.trapImage {
  background-image: url("Images/trap.jpg");
}
#potionImage {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background-size: cover;
  margin: 10px auto;
  display: none;
}

.potionImage {
  background-image: url("Images/pot.jpg");
}

#choiceImage {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background-size: cover;
  margin: 10px auto;
  display: none;
}

.choiceImage {
  background-image: url("Images/continue.png");
}

#weaponImage {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background-size: cover;
  margin: 10px auto;
  display: none;
}

.weaponImage {
  background-image: url("Images/loot.jpg");
}
